body, h1, h2, h3, p, ul, li, figure, figcaption, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #05293C;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
  }
  
  #login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .external-window-container {
    background-color: #657585;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 300px;
  }
  
  #close-window-link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
  }
  
  /* .login-form {
    text-align: center;
  } */
  
  .form-title {
    margin-bottom: 20px;
  }
  
  .form-brand {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .alert {
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bolder;
  }
  
  .success {
    color: green;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #444D56;
    color: #0EA5E9;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-color: #0EA5E9;
    border-style: solid;
    font-weight: bolder;
    border-width: 1px;
  }
  
  input[type="submit"]:hover {
    background-color: #0EA5E9;
    color: #fff;
  }
  
  a {
    color: #0EA5E9;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin-top: 10px;
  }
  input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #d6dee2;
  border: 1px solid #d6dee2;
  color: black;
  border-radius: 5px; /* Tambahkan properti border-radius di sini */
  font-family: 'Arial', sans-serif;
}

/* Tambahkan properti border-radius pada input yang tidak valid */
input[type="text"]:invalid,
input[type="password"]:invalid {
  background-color: #d6dee2;
  border: 1px solid #d6dee2;
  color: black;
  border-radius: 5px; /* Tambahkan properti border-radius di sini */
}

.form-title {
    margin-bottom: 20px;
    text-align: left; /* Mengubah alignment ke kiri */
  }
  

  