/* STYLING UNTUK HOME */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #05293c;
}

.container {
  max-width: 800px;
  height: 60vh;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.auth-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 70%;
}

.login,
.signup {
  width: 60%;
  padding: 20px;
  background-color: #05293c;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.login:hover,
.signup:hover {
  background-color: #617986;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* STYLING UNTUK LOGIN */
.login-form {
  max-width: 600px;
  /* height: 60vh; */
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#close-window-link {
  margin: 35px;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 30px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #60d265;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Reset some default styles
body, h1, h2, p, form {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.external-window-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-title {
  text-align: center;
}

.brandName {
  color: #007bff;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.alert.success {
  background-color: #4CAF50;
  color: white;
}

#close-window-link {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

#close-window-link:hover {
  text-decoration: underline;
}

 */

/* STYLING UNTUK SIGNUP */
#signup-close-window-link {
  margin: 35px;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 30px;
  color: white;
}
.signup-form {
  max-width: 600px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#signup label {
  font-size: 16px;
  color: white;
}
#signup h1,
#signup h2,
#signup p,
#signup h4 {
  color: white;
}
#signupSubmit {
  font-size: 16px;
}
.alert {
  font-size: 14px;
  color: red;
}
#message {
  display: none;
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  position: relative;
  padding: 8px 15px;
  margin-top: 8px;
}
#message p {
  padding: 5px 15px;
  font-size: 14px;
}
.valid {
  color: green;
}
.valid:before {
  position: relative;
  left: -20px;
  content: "\2713";
}
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  left: -10px;
  content: "\00D7";
}
#login-link {
  color: #c5c5c5;
}

/* Sidebar */
.hidden {
  display: none !important;
}
#left-sidebar {
  width: 250px;
  background-color: #00202f;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgb(0, 0, 0);
}
#left-sidebar > :nth-child(1) {
  margin-bottom: 2rem;
}
.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-routing {
  margin: 1rem 0;
  padding: 0.4rem 0;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  width: 150px;
  color: white;
}
.menu-routing:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Approved Election Page */
#wrapper-approved {
  display: flex;
  grid-template-columns: 20vw 80vh;
}
#wrapper-approved a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
#wrapper-approved h2 {
  color: white;
  font-weight: bold;
}
.approved-section {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
  color: #fff;
}
.vote-button:hover {
  border: none;
  color: white;
}
.vote-button {
  margin-top: 10px;
  font-weight: 500;
  width: 100%;
}
.container-approved {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 250px;
  margin-top: 40px;
}
.radioButton {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 3px 0;
  margin: 5px 0;
}
#submitVote {
  font-weight: 500;
}
.radioButton label {
  margin: auto 3px;
}
.radioButton input {
  margin: 7px 5px;
}
#wrapper-approved button {
  font-weight: 600;
  font-size: 15px;
}
