<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Add_New_Election.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- jQuery CDN -->
  <!-- <script src="/index.js"></script> -->

  <title>New Election</title>
</head>
<body>
  <div id="wrapper">
    <section id="left-sidebar">
      <h2>Selamat Datang, [Nama Pengguna].</h2>
      
      <%- include('nav-link/sidebar'); %>
    </section>
    <div class="container">
      <form action="/Add_New_Election" method="post">
        <label for="election-title">Judul Election:</label>
        <input type="text" id="electiontitle" name="electiontitle" placeholder="Masukkan judul election" required>
    
        <label for="election-description">Deskripsi Election:</label>
        <textarea id="electiondescription" name="electiondescription" placeholder="Masukkan deskripsi election" style="resize: none;" rows="8" cols="80" required></textarea>
    
        <label for="start-date">Start Date:</label>
        <input type="datetime-local" id="startdate" name="startdate" required>
    
        <label for="end-date">End Date:</label>
        <input type="datetime-local" id="enddate" name="enddate" required>
    
        <label for="invite-input">Undang Pengguna:</label>
        <input type="text" id="inviteinput" name="inviteinput" placeholder="Masukkan email" required>
        <div id="error-message" style="color: red;"></div>
        
        <button onclick="Add_New_Election()">Send Request</button>

      </form>
    </div>

  </div>
  
  <!-- <script src="script.js"></script> -->
</body>
</html>
