<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Login Page</title>
</head>
<body>
    <div id="login" class="overlay">
        <div class="external-window-container">
            <a href="/" id="close-window-link">Go back</a>
            <div class="login-form">
                <div class="form-title">
                    <h1 class="brandName form-brand">GoVote</h1>
                    <h2>LOGIN</h2>
                    <% if (success) { %>
                        <p class="alert success">
                            <%= errorMsg %>
                        </p>
                        <% } else { %>
                            <p class="alert">
                                <%= errorMsg %>
                            </p>
                            <% } %>
                </div>
                <form action="/login" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
        
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
        
                    <input class type="submit" value="LOGIN">
                </form>
                <p>New to here? <a href="/signup">Sign Up</a> instead</p>
            </div>
        </div>
    </div>
    
</body>
</html>
