<style>
    .nav-title {
        margin-bottom: 2rem;
    }
</style>
<h2 class="nav-title">Selamat Datang, <%= namaLengkap %>.</h2>
<div class="links-container" id="menu-admin">
    <h3>Menu Admin</h3>
    <a href="/admin-user" class="menu-routing">Users</a>
    <a href="/logout" class="menu-routing"><span class="material-symbols-rounded">
        </span>Log Out</a>
</div>