<div class="links-container" id="sidebar">
  
    <a href="/dashboard" class="menu-routing">Dashboard</a>
    <a href="/CreatePoll" class="menu-routing">Create a pool</a>
    <a href="/Result" class="menu-routing">Result</a>
    
   
</div>