<div class="links-container" id="sidebar">
  <a href="/dashboard-user" class="menu-routing">Dashboard</a>
  <a href="/Add_New_Election" class="menu-routing">Create a pool</a>
  <a href="/Result" class="menu-routing">Result</a>
</div>
